@import url(iransans.css);

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    font-weight: 300;
    font-family: IRANSans_Fa;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: rtl;
    
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
}

 div#root{
    display: flex;
    flex: 1;
} 

.flex-1{
    flex: 1;
}

.r-login {
    display: flex;
    flex: 1;
    height: 100%;
    background-color: #d1d2d4;
    background-image: url(../images/login/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.r-login__wrapper {
    margin: auto;
}


.r-login__signin {
    max-width: 100%;
    width: 450px;
}

@media(max-width:500px) {
    .r-login__wrapper {
        width: 90%;
    }

    .r-login__signin {
        width: 100%;
    }
}


.r-login__header {
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 3rem 1rem 2rem;
    border-radius: 10px 10px 0 0;
    margin-bottom: 5px;
    align-items: center;
}

    .r-login__header h3 {
        font-size: 20px;
        color: #818285;
    }

    .r-login__header img {
        position: relative;
        margin-right: 8px;
        margin-top: -15px;
        max-width: 40px;
    }

.r-login__body {
    position: relative;
    background-color: #fff;
    padding: 2rem 3rem;
    border-radius: 0 0 10px 10px;
    margin: 0;
}

    .r-login__body:after {
        content: "";
        height: 30px;
        width: 100%;
        right: 0;
        left: 0;
        top: 100%;
        background-image: url('../images/box-shadow-bottom.png');
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
    }

    .r-login__body .form-control {
        border: none;
        border-bottom: 1px solid #25aae1;
        border-radius: 0;
    }
    
        .r-login__body .form-control:focus {
            box-shadow: none;
            border-bottom-color: #25aae1;
        }

        .r-login__body .has-error .form-control,.r-login__body .has-error .form-control:focus,.r-login__body .has-error .input-group-text {
            border-bottom-color:#dc3545; 
        }

        .r-login__body .form-control::placeholder {
            color: #d5d6d8;
            opacity: 1; /* Firefox */
        }

        .r-login__body .form-control:-ms-input-placeholder {
            color: #d5d6d8;
        }

        .r-login__body .form-control::-ms-input-placeholder {
            color: #d5d6d8;
        }

    .r-login__body .input-group-text {
        background-color: #fff;
        border: none;
        border-bottom: 1px solid #25aae1;
        border-radius: 0;
        padding: .7rem;
    }

    .r-login__body .r-login__icon {
        width: 24px;
        height: 24px;
        background-position: center;
        background-repeat: no-repeat;
    }

        .r-login__body .r-login__icon.r-login__icon--username {
            background-image: url(../images/login/username-icon.svg);
            background-size: contain;
        }

        .r-login__body .r-login__icon.r-login__icon--password {
            background-image: url(../images/login/password-icon.svg);
            background-size: contain;
        }

        .r-login__body .r-login__icon.r-login__icon--captcha {
            background-image: url(../images/login/captcha-icon.svg);
            background-size: contain;
        }

        .r-login__body .r-login__icon.r-login__icon--refresh {
            background-image: url(../images/login/refresh-icon.svg);
            background-size: contain;
            width:16px;
            height:16px;
        }

.r-login__action {
    padding: 2rem 1rem 0;
    display: flex;
    justify-content: center;
}

    .r-login__action .btn {
        font-size: 16px;
        background-color: #0f75bc;
        padding: .8rem 3rem;
        border-radius: 5px;
        -webkit-box-shadow: 0px 5px 10px 2px rgba(37,170,225,0.19) !important;
        box-shadow: 0px 5px 10px 2px rgba(37,170,225,0.19) !important;
    }



.r-login__captcha {
    display: flex;
    align-items: center;
    flex-direction: row;
}

    .r-login__captcha .input-group:first-child {
        flex: 1 0 calc(100% - 150px)!important;
        margin-left:15px;
    }

    .r-login__captcha .input-group:last-child {
        flex: 1 0 150px;
        align-items: center;
    }

        .r-login__captcha .input-group:last-child .input-group-text {
            border: none;
            padding:0;
        }

    .r-login__captcha img {
        max-width: 115px;
    }
 
    .r-login__company{
        position: absolute;
        left: 50px;
        bottom:20px;
        color: #fff;
        text-align: center;
        margin-bottom: 10px;
    }
    .r-login__company-title{
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 10px
    }
    .r-login__company-ver{
        font-size: 13px;
        margin-bottom: 10px
    }
    .r-login__company-date{
        font-size: 13px;
    }

    @media(max-width:768px){
        .r-login{
            flex-direction: column;
            justify-content: center;
            background: #25AAE1;
        }
        .r-login__wrapper{
            margin-top: 0;
            margin-bottom: 0;

        }
        .r-login__company{
            position: relative;
            left: unset;
            bottom: unset;
        }
    }

    
/**=====================
     04. Loader CSS Start
==========================**/

.loader-wrapper {
    height: 100%;
    width: 100%;
    display: block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10000000;
    top: 0;
}

.loader-wrapper .loader {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    text-align: center;
    right: 0;
    margin: 0 auto;
}

.loader-wrapper .loader h4 {
    margin-top: 30px;
    margin-bottom: 0;
    color: #fff !important;
    font-size: 16px;
}

.loader-wrapper .loader h4 span {
    font-size: 34px;
}

.loader .line {
    -webkit-animation: expand 1s ease-in-out infinite;
    animation: expand 1s ease-in-out infinite;
    border-radius: 10px;
    display: inline-block;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    margin: 0 5px;
    width: 5px;
    height: 35px;
}

.loader .line:nth-child(1) {
    background: #00c292;
}

.loader .line:nth-child(2) {
    -webkit-animation-delay: 180ms;
    animation-delay: 180ms;
    background: #ab8ce4;
}

.loader .line:nth-child(3) {
    -webkit-animation-delay: 360ms;
    animation-delay: 360ms;
    background: #FF5370;
}

.loader .line:nth-child(4) {
    -webkit-animation-delay: 540ms;
    animation-delay: 540ms;
    background: #4099ff;
}

@-webkit-keyframes expand {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    25% {
        -webkit-transform: scale(2);
        transform: scale(2);
    }
}

@keyframes expand {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    25% {
        -webkit-transform: scale(2);
        transform: scale(2);
    }
}

.loader-box {
    height: 150px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.rotate {
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: rotate;
    animation-name: rotate;
    border: 3px dotted #ab8ce4;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: block;
    margin: 1em;
    float: left;
}

@-webkit-keyframes rotate {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.solid {
    border-style: solid;
    border-color: #00c292 #008f6c;
}

.dotted {
    border-style: dotted;
}

.dashed {
    border-style: dashed;
}

.double {
    border-style: double;
}

.groove {
    border-style: groove;
}

.ridge {
    border-style: ridge;
}

.inset {
    border-style: inset;
}

.outset {
    border-style: outset;
}

.colored {
    border-color: #FF5370 #ab8ce4 #00c292 #4099ff;
}

/**=====================
     04. Loader CSS Ends
==========================**/
